.fbx filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
movie[[:space:]]training filter=lfs diff=lfs merge=lfs -text
***.fbx filter=lfs diff=lfs merge=lfs -text
*.tdc filter=lfs diff=lfs merge=lfs -text
R_GREEN.tdc filter=lfs diff=lfs merge=lfs -text
R_GREEN.fbx filter=lfs diff=lfs merge=lfs -text
GREEN.fbx filter=lfs diff=lfs merge=lfs -text
GREEN.tdc filter=lfs diff=lfs merge=lfs -text
*fbx filter=lfs diff=lfs merge=lfs -text
